[package]
name = "ieee80211"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/Frostie314159/ieee80211-rs"
description = "A parser for IEEE 802.11 frames."
authors = ["Frostie314159"]

[dependencies]
crc32fast = { version = "1.3.2", default-features = false }
either = { version = "1.9.0", default-features = false }
mac-parser = "0.1.4"
macro-bits = "0.1.4"
scroll = { version = "0.12.0", default-features = false }
tlv-rs = "0.2.3"
